<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

  <!-- Containing Element -->
  <div id="container">

  </div>

  <!-- Template -->
  <script id='template' type='text/ractive'>
  <div class="lists">
    <ul>
      <li>Full List: {{ list }}</li>
      <li>Viewed: {{ viewed }}</li>
      <li>Liked: {{ liked }}</li>
    </ul>
  </div>
  <div class="pet">
    <p>{{ pet.name }} <small>{{ pet.id }}</p>
    <img src="{{ pet.photos[0] }}" />
  </div>
  <div class="btns">
    <button type="button" name="btn-swipe-right" on-click="swipeLeft:{{pet.id}}">Swipe Left</button>
    <button type="button" name="btn-swipe-left" on-click="swipeRight:{{pet.id}}">Swipe Right</button>
  </div>
  </script>

  <!-- JS files -->
  <script src="node_modules/jquery/dist/jquery.min.js"></script>
  <script src="node_modules/ractive/ractive.min.js"></script>
  <script src="dev/js/bundle.js"></script>

</body>
</html>
